/* Footer component styles */

.footer {
  position: static;
  width: 100%;
  font-family: "Raleway";
  color: var(--color-primary);
  padding: 2rem 0;
  margin: 3rem 0 0 0;
  box-sizing: border-box;
  border-top: 1px solid #f0f0f0;
  margin-top: auto;
}

.footer p {
  text-align: center;
  margin: 0 auto;
  float: none;
  clear: both;
  width: 100%;
  font-size: 0.75rem;
}
